/* Mobile First Style */
body,html{
    margin:10px 0;
    padding:0;
    font-family: "Poppins",Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;
}
/* Tag Style */
.link{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color:inherit;
}
.link:not(:first-child){
    margin: 10px 0;
}
/* Container */
.container{
    display: flex;
    flex-wrap:wrap ;
    max-width: 80%;
    justify-content: center;
    align-items: center;
}

/* Heading Style */
.heading{
    
    max-width: 80%;
    font-size:0.8rem;
    text-align: center;
    font-weight: 100;
}

/* Picture Style */
.profilePicture{
    width: 70%;
    border: 5px solid black;
    border-radius: 100%;
}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.picture > p{
    height: 0;
}

/* Main Style*/
main{
    overflow-y: auto;
    max-height: 45vh;
}

.items{
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px;
    padding:10px;
}


/* Footer */
footer{
    position: absolute;
    bottom: 0;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Medium.ttf");
}